<footer class="site-footer">
    <div class="container">
      <div class="footer-col">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.name }}</p>
      </div>
      
      <div class="footer-col social-links">
        {% if site.footer-links.github %}
        <a href="https://github.com/{{ site.footer-links.github }}" target="_blank">GitHub</a>
        {% endif %}
        
        {% if site.footer-links.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">LinkedIn</a>
        {% endif %}
        
        {% if site.footer-links.medium %}
        <a href="https://medium.com/@{{ site.footer-links.medium }}" target="_blank">Medium</a>
        {% endif %}
        
        {% if site.footer-links.twitter %}
        <a href="https://twitter.com/{{ site.footer-links.twitter }}" target="_blank">Twitter</a>
        {% endif %}
        
        {% if site.footer-links.email %}
        <a href="mailto:{{ site.footer-links.email }}">Email</a>
        {% endif %}
      </div>
    </div>
  </footer>