<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.name }}">
  <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/favicon/site.webmanifest">
  {% if site.google_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5M23NRSL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="lg:flex items-center p-4">
    <div class="logo lg:flex-grow tracking-tighter">
      <a href="/" class="bg-clip-text text-transparent bg-gradient-to-r from-my-green to-my-light-blue text-5xl font-extrabold">Thomson Napitupulu</a>
    </div>
    
    <div class="lg:flex-grow lg:text-right text-md lg:text-xl">
      <ul class="tracking-tight nav-links">
        <li class="inline">
          <a href="/cv" class="lg:px-6 pr-4 py-4">CV</a>
        </li>
        <li class="inline">
          <a href="/#" class="lg:px-6 pr-4 py-4">Projects</a>
        </li>
        <li class="inline">
          <a href="/#" class="lg:px-6 pr-4 py-4">Blogs</a>
        </li>
        <li class="inline">
          <a href="/#" class="lg:px-6 pr-4 py-4">Contacts</a>
        </li>
      </ul>
    </div>
  </header>
  <section class="mx-4 lg:m-auto lg:max-w-prose">
      {{ content }}
  </section>
  <script src="{{ site.baseurl }}/assets/js/search.js"></script>
  <script src="{{ site.baseurl }}/assets/js/toggle.js"></script>
  <footer class="mt-10 bg-gradient-to-r from-my-green to-my-light-blue font-semibold">
    <div class="lg:m-auto mx-8 lg:w-2/3 py-24">
      <a href="/" class="text-4xl font-bold text-white border-none tracking-tighter footer-link">Thomson Napitupulu</a>
  
      <div class="text-white leading-loose mt-4">
        I'm on
        <a href="https://github.com/holman" class="footer-link">GitHub</a>,
        <a href="https://www.linkedin.com/in/thomsonpnapitupulu/" class="footer-link">LinkedIn</a>, and unfortunately
        <a href="https://twitter.com/tomiepalito" class="footer-link">Twitter</a>.<br>You can also find me on
        <a href="https://www.threads.net/@thomsonnapitupulu" class="footer-link">Threads</a>.
      </div>
    </div>
  </footer>
</body>
</html>