<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.name }}">
  <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicon/favicon/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/favicon/site.webmanifest">
  {% if site.google_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
<body class="home-page">
    <div class="flex h-screen">
        <div class="lg:w-2/3 mx-4 m-auto lg:m-auto">
          <div class="">
            <h1 class="text-5xl font-extrabold tracking-tighter">
              Hi, <span class="bg-clip-text text-transparent bg-gradient-to-r from-my-green to-my-light-blue text-5xl font-extrabold">Thomson</span> here!
            </h1>
      
            <div class="text-gray-700 text-lg font-light leading-loose mt-2">
                A seasoned <strong class="font-bold text-gray-700">software engineer</strong> with <strong class="font-bold text-gray-700">10+ years</strong> of experience specializing in scalable <strong class="font-bold text-gray-700">backend systems</strong> and <strong class="font-bold text-gray-700">cloud-native applications.</strong>
                Currently looking for &#10024;an exciting new journey&#10024;! <a href="https://www.linkedin.com/in/thomsonpnapitupulu/">#OpenForWork</a>
            </div>
          </div>
      
          <div class="my-8 lg:text-right">
            <ul class="text-2xl tracking-tight nav-links">
              <li class="lg:inline">
                <a href="{{ site.baseurl }}/cv" class="md:px-6 py-4">CV</a>
              </li>
              <li class="lg:inline">
                <a href="{{ site.baseurl }}/working" class="md:px-6 py-4">Projects</a>
              </li>
              <li class="lg:inline">
                <a href="{{ site.baseurl }}/learning" class="md:px-6 py-4">Blogs</a>
              </li>
              <li class="lg:inline">
                <a href="{{ site.baseurl }}/contact" class="md:px-6 py-4">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>